body {
  position: relative;
    background-color: black;
}
#board {
position: relative;
width: 1024px;
height: 863px;
margin: auto;
background: url("photo/board.jpg") no-repeat;
}
#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}
table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}
td {
    width: 94px;
    height: 94px;
}
form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}
form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}
.hit {
    background: url("photo/ship.png") no-repeat center center;
}
.miss {
    background: url("photo/miss.png") no-repeat center center;
}
td:hover {
  background: url("photo/miaozhun.png") no-repeat center center;
}
h1 {
  position: absolute;
  display: inline;
  font-size: 50px;
  word-wrap: break-word;
  letter-spacing: 50px;
  color:  rgb(83, 175, 19);
  padding-left: 100px;
  /* padding-left: 370px; */
  top: -10px;
  /* top: 180px; */
}

/* #sound{
  width: 0px;
  height: 0px;
} */
